.content {
    margin: 40px 0 0;
    padding: 0 15.625vw;
}
/* Padding for when the resolution should hold 3 cards*/
@media screen and (min-width: 918px) and (max-width: 1279px){
    .content {
        padding: 0 19px;
    }
}

/* Width ranges for 2 cards */
@media screen and (min-width: 320px) and (max-width: 917px){
    .content {
        padding: 0 19px;
    }
}