.header {
    max-width: 880px;
    max-height: 74px;
    padding-bottom: 41px;
    margin: 0 200px;
    border-bottom: 1px solid #545454;
}

.header__image {
    margin-top: 45px;
}

@media screen and (max-width: 320px){
    .header {
        max-height: 56px;
        max-width: 320px;
        margin: 0;
        padding-bottom: 32px;
    }

    .header__image {
        max-width: 126px;
        max-height: 24px;
        margin: 28px 0 0 27px;
    }
}