.header {
    max-width: 880px;
    padding-bottom: 41px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

.header__image {
    margin-top: 45px;
    object-fit: contain;
}

@media screen and (min-width: 320px) and (max-width: 909px){
    .header {
        margin: 0 19px;
    }
}

@media screen and (max-width: 320px){
    .header {
        max-width: 320px;
        margin: 0;
        padding-bottom: 32px;
    }

    .header__image {
        max-width: 126px;
        margin: 28px 0 0 27px;
    }
}
