.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
    margin: 0 auto;
}

.profile__image {
    background-color: #fff;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.profile__content {
    margin: 0 auto 0 30px;
}

.profile__content-top{
    display: flex;
    align-items: center;
}

.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.14;
    max-width: 415px;
    margin: 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    margin: 7px auto 0;
    max-width: 415px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button {
    background-image: url('../images/edit.svg');
    height: 24px;
    width: 24px;
    background-position: center;
    box-sizing: border-box;
    border: solid 1px #fff;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 18px;
    margin-top: 7px;
}

.profile__edit-button:hover {
    opacity: .6;
    cursor: pointer;

}
.profile__add-button {
    background: url('../images/add.svg');
    height: 50px;
    width: 150px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border: solid 2px #fff;
    border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (min-width: 530px) and (max-width: 770px){
    .profile__add-button {
        width: 50px;
    }

    .profile__name {
        max-width: 400px;
    }

    @media screen and (min-width: 530px) and (max-width: 660px){
        .profile__content {
            margin: 0 auto 0 10px;
        }
         
        .profile__name {
            font-size: 30px;
            max-width: 350px;
        }
        .profile__subtitle {
            max-width: 350px;
        }
    }

    @media screen and (min-width: 530px) and (max-width: 610px){
        .profile__name {
            max-width: 300px;
        }
        .profile__subtitle {
            max-width: 300px;
        }
    }
    @media screen and (min-width: 530px) and (max-width: 560px){
        .profile__name {
            max-width: 250px;
        }
        .profile__subtitle {
            max-width: 250px;
        }
    }
}

@media screen and (max-width: 529px){
    .profile {
        flex-direction: column;
        align-items: center;
    }

    .profile__content {
        margin: 30px 0 0;
    }

    .profile__name {
        font-size: 22px;
        line-height: 1.21;
    }

    .profile__edit-button {
        margin-bottom: 0;
        height: 18px;
        width: 18px;
    }

    .profile__subtitle {
        text-align: center;
        margin-top: 14px;
        font-size: 14px;
    }

    .profile__add-button {
        width: 282px;
        margin-top: 36px;
        background-size: 16px 16px;
    }

    @media screen and (min-width: 320px) and (max-width: 480px){
        .profile__name {
            max-width: 350px;
        }
        .profile__subtitle {
            max-width: 350px;
        }

        @media screen and (max-width: 420px){
            .profile__name {
                max-width: 196px;
            }
            .profile__subtitle {
                max-width: 196px;
            }
        }
    }
}
